{% load static %}
<html>

<head>
    <title>Stock App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2>銘柄コード表示</h2>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <button type="submit" class="save btn btn-default">実行</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>